h1 {
    color: blue;
    font-size: 48px;
        text-align: center;
    margin-bottom: 100px;
}
p1 {
    font-size: 24px;
    font-family: Helvetica;
    margin-left: 200px;
    margin-bottom: 200px;
    border: 2px;
}
p2 {
    font-size: 24px;
    font-family: Helvetica;
    margin-left: 200px;
    margin-bottom: 200px;
    border: 2px;
}
p3 {
    font-size: 24px;
    font-family: Helvetica;
    margin-left: 200px;
    margin-bottom: 200px;
    border: 2px;
}
p4 {
    font-size: 24px;
    font-family: Helvetica;
    margin-left: 200px;
    margin-bottom: 200px;
    border: 2px;
}
nav li {
    margin-left: 200px;
}



