h {
    color: blue;
    font-size: 48px;
        text-align: center;
}
p1 {
    font-size: 24px;
    font-family: Helvetica;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 2px;
    text-align: center;
}
p2 {
    font-size: 24px;
    font-family: Helvetica;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 2px;
}
p3 {
    font-size: 24px;
    font-family: Helvetica;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 2px;
}
p4 {
    font-size: 24px;
    font-family: Helvetica;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 2px;
}
